<template>
  
  <div class="uk-container-expand gradient-bg" id="createuser-bg">
    <div class="uk-container uk-padding" id="createuser-holder">
      <div class="uk-text-center" style="font-family: 'Titillium Web', sans-serif; font-size:2rem;">Máquina de Eventos</div>
      <h2 class="uk-visible@m">Só mais um minutinho</h2>
      <h3 class="uk-hidden@m uk-text-center">Só mais um minutinho</h3>
      
      <form>
        <fieldset class="uk-fieldset">

          <div class="uk-margin">
            <label class="uk-form-label" >Email</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="email" placeholder="" v-model="email" v-on:keyup="changeHandler">
            </div>
            <div class="create-user-info">Utilize um endereço de email válido. Este será utilizado para a recuperação e confirmação de sua conta.</div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" >Nome</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" placeholder="" v-model="name" v-on:keyup="changeHandler">
            </div>
            <div class="create-user-info">Este nome deve ser o mais próximo o possível de seu nome veradeiro. Você pode escolher para quem ele será exibido.</div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" >Senha</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="password" placeholder="" v-model="password" v-on:keyup="changeHandler">
            </div>
            <div class="create-user-info" style="margin-bottom:1rem;">Sua senha garante a segurança de sua conta. Por isso deve seguir as seguintes regras:</div>
            <div>
              <div class="uk-alert-success uk-alert" v-bind:class="{ 'uk-alert-danger': passError1}">
                <p>Deve conter pelo menos 8 caracteres.</p>
              </div>
              <div class="uk-alert-success uk-alert" v-bind:class="{ 'uk-alert-danger': passError2}">
                <p>Não deve conter apenas espaços ou caracteres de controle.</p>
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" >Nome de usuário</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" style="background-color:#FFFFFF; margin:1px">@</span>
                <input class="uk-input" type="text" placeholder="" v-model="user" v-on:keyup="changeHandler">
              </div>
            </div>
            <div class="create-user-info" style="margin-bottom:1rem;">Esse é o nome pelo qual os outros usuários te encontrarão na <span style="font-family: 'Titillium Web', sans-serif;">Máquina</span>, ele é público e deve seguir as seguintes regras:</div>
            <div>
              <div class="uk-alert-success uk-alert" v-bind:class="{ 'uk-alert-danger': userError1}">
                <p>Não deve conter nenhum símbolo ou caractere especial.</p>
              </div>
              <div class="uk-alert-success uk-alert" v-bind:class="{ 'uk-alert-danger': userError2}">
                <p>Deve possuir 6 ou mais caracteres.</p>
              </div>
              <div class="uk-alert-success uk-alert" v-bind:class="{ 'uk-alert-danger': userError3}">
                <p>Não deve conter espaços</p>
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" >Telefone</label>
            <form class="uk-grid-small" uk-grid>
              <div class="uk-width-1-6@s">
                <div class="uk-inline">
                  <a class="uk-form-icon" href="" uk-icon="icon: plus"></a>
                  <input class="uk-input">
                </div>
                <label class="uk-form-label" for="form-stacked-text">Código internacional</label>
              </div>
              <div class="uk-width-1-6@s">
                <input class="uk-input" type="text">
                <label class="uk-form-label" for="form-stacked-text">DDD</label>
              </div>
              <div class="uk-width-2-3@s">
                <input class="uk-input" type="text">
                <label class="uk-form-label" for="form-stacked-text">Número</label>
              </div>
            </form>
          </div>

          <div class="uk-margin">
            Eu sou:
            <div class="uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-checkbox" type="checkbox" v-model="cb0"> Organizador</label>
              <label><input class="uk-checkbox" type="checkbox" v-model="cb1"> Distribuidor</label>
              <label><input class="uk-checkbox" type="checkbox" v-model="cb2"> Artista</label>
              <label><input class="uk-checkbox" type="checkbox" v-model="cb3"> Serviços (barman, segurança e etc.)</label>
              <label><input class="uk-checkbox" type="checkbox" v-model="cb4"> Outro</label>
            </div>
          </div>
          <br />
          <button class="uk-button uk-button-primary uk-width-1-1" v-on:click="create" type="button">Criar conta <i href="" uk-icon="icon: chevron-right"></i></button>

          <div class="uk-text-center" style="margin-top:1rem;"> Ao clicar em &quot;Criar conta&quot; você concorda com os termos de uso da <span style="font-family: 'Titillium Web', sans-serif;">Máquina de Eventos</span>&reg;.</div>
        </fieldset>
      </form>
    </div>
  </div>
</template>

<script>
  require("../../css/createuser.css");

  export default {
    name: "CreateUser",
    data() {
      return {

        cb0: false,
        cb1: false,
        cb2: false,
        cb3: false,
        cb4: false,

        cbError: true,

        userError1: true,
        userError2: true,
        userError3: true,

        passError1: true,
        passError2: true,

        name: "",
        password: "",
        email: this.$route.params.email,
        user: this.$route.params.user,
        phone: 0,
      };
    },

    methods: {
      create: function (event) {
        if (!(this.cb0 || this.cb1 || this.cb2 || this.cb3 || this.cb4)) {
          this.cbError = false;
        }
        else {
          this.cbError = true;
        }
        if (this.cbError && !this.userError1 && !this.userError2 && !this.userError3 && !this.passError1 && !this.passError2) {
          const crypto = require("crypto");

          var hash1 = crypto.createHash("sha256");
          var build1 = hash1.update(this.password);
          var hpassword = hash1.digest("hex");

          var roleBuffer = [];
          if (this.cb0) {
            roleBuffer.push(0);
          }
          if (this.cb1) {
            roleBuffer.push(1);
          }
          if (this.cb2) {
            roleBuffer.push(2);
          }
          if (this.cb3) {
            roleBuffer.push(3);
          }
          if (this.cb4) {
            roleBuffer.push(4);
          }

          this.$http
            .post(
            "/api/user",
            {
              name: this.name,
              password: hpassword,
              email: this.email,
              nick: this.user,
              phone: this.phone
            },
            {
              headers: {
                "Content-type": "application/json"
              }
            }
            )
            .then(response => {
              if (response.data.status == "ok") {
                this.$router.push({ name: "createUserDone" });
              }
              if (response.data.status == "error") {
                switch (response.data.message) {
                  case "010604":
                    UIkit.modal.alert('Por favor preencha todos os campos!');
                    break;
                  case "010603":
                    UIkit.modal.alert('Parece que algo deu errado. Por favor tente novamente!');
                    break;
                  case "010602":
                    UIkit.modal.alert('Este nome de usuário já existe.');
                    break;
                  case "010601":
                    UIkit.modal.alert('Este email já está em uso.');
                    break;
                  default:
                    break;
                }
              }
            });
        }
        else {
          UIkit.modal.alert('Por favor preencha todos os campos!');
        }
      },
      changeHandler: function (event) {
        if (/^[a-zA-Z0-9- ]*$/g.test(this.user) == true) {
          this.userError1 = false;
        }
        else {
          this.userError1 = true;
        }
        if (this.user.length >= 6) {
          this.userError2 = false;
        }
        else {
          this.userError2 = true;
        }
        if (/\s/g.test(this.user) == false) {
          this.userError3 = false;
        }
        else {
          this.userError3 = true;
        }

        if (this.password.length >= 8) {
          this.passError1 = false;
        }
        else {
          this.passError1 = true;
        }
        if (!/[a-zA-Z0-9~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(this.password) == false) {
          this.passError2 = false;
        }
        else {
          this.passError2 = true;
        }
      }
    },

    mounted: function () {
      this.changeHandler();
    }
  };
</script>
