<template>
  <div class="uk-container" id="createuser-holder">
    <br />
    <div class="uk-text-center" style="font-family: 'Titillium Web', sans-serif; font-size:2rem;">Máquina de Eventos</div>
    <br />
    <div class="uk-text-center">
      <h3>Sua conta foi criada!</h3>
      <hr />
      <div class="uk-text-lead">Por favor, verifique seu email para ativar sua conta!</div>
      <div class="uk-text-meta">O link enviado tem validade de 24 horas.</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "CreateUserDone",
    data() {
      return {
      };
    },

    methods: {

    }
  };
</script>
