<template>
  <div>
    <div class="uk-container" id="createuser-holder" v-if="valid == 'true'">
      <br />
      <div class="uk-text-center" style="font-family: 'Titillium Web', sans-serif; font-size:2rem;">Máquina de Eventos</div>
      <br />
      <div class="uk-text-center">
        <h3>Sua conta foi ativada!</h3>
        <hr />
        <div class="uk-text-lead">Para fazer login na sua conta clique neste <router-link to="/login">link</router-link>.</div>
      </div>
    </div>
    <div class="uk-container" id="createuser-holder" v-if="valid == 'false'">
      <br />
      <div class="uk-text-center" style="font-family: 'Titillium Web', sans-serif; font-size:2rem;">Máquina de Eventos</div>
      <br />
      <div class="uk-text-center">
        <h3>Link inválido!</h3>
        <hr />
        <div class="uk-text-lead">Sua conta <b>não</b> foi ativada.</div>
        <div class="">Você pode criar outra conta clicando <router-link to="/createuser">aqui</router-link>.</div>
        <div class="uk-text-meta">Não se esqueça que você tem apenas 24 horas para ativar sua conta.</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "EmailValidation",
    data() {
      return {
        valid: this.$route.params.status,
      };
    },

    methods: {

    }
  };
</script>
