<template>
  <div class="uk-container-expand">
    <div class="fullWidth gradient-bg" id="home-header">
      <div class="uk-visible@m" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        <nav class="uk-navbar-container">
          <div class="uk-container uk-container-expand">
            <div uk-navbar>
              <a class="uk-navbar-item uk-logo" href="#">Máquina de Eventos</a>
              <div class="uk-navbar-right"> <button class="uk-button uk-button-default" v-on:click="goToLogin">Entrar <i href="" uk-icon="icon: sign-in"></i></button></div>
            </div>
          </div>
        </nav>
      </div>
      <div class="uk-hidden@m" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-center">
            <a href="" class="uk-navbar-item uk-logo">Máquina de Eventos</a>
          </div>
        </nav>
      </div>
      <div class="uk-container">
        <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div>
            <div class="uk-padding" id="home-left">
              <div class="home-left-text" id="home-lead">O <span class="underline-animation">primeiro</span> sistema de administração de eventos.</div>
              <div id="home-sub">Desenhado para atender as <span class="underline-animation">suas</span> necessidades.</div>
              <a class="uk-button uk-visible@s" id="home-left-button" href="#home-scroll-end" uk-scroll offset="60">Conheça a proposta <i href="" uk-icon="icon: chevron-right"></i></a>
              <a class="uk-button uk-hidden@s uk-width-1-1" id="home-left-button" href="#home-scroll-end" uk-scroll offset="60">Conheça a proposta <i href="" uk-icon="icon: chevron-right"></i></a>
            </div>
          </div>
          <div class="uk-width-1-3@s">
            <div class="uk-background-muted home-padding">
              <div class="uk-text-center" id="home-right-title">Crie sua conta!</div>
              <div v-if="empty" class="uk-text-center" id="home-error">{{ msg }}</div>
              <div class="hr" v-else>É 100% grátis!</div>
              <form>
                <div class="uk-margin">
                  <input class="uk-input" type="email" placeholder="Email" v-model="email">
                </div>
                <div class="uk-margin">

                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" style="background-color:#FFFFFF; margin:1px">@</span>
                    <input class="uk-input" type="text" placeholder=" Nome de usuário" v-model="user">
                  </div>

                </div>
                <button type="button" class="uk-button uk-button-primary uk-width-1-1" v-on:click="goToCreateUser">Continuar <i href="" uk-icon="icon: chevron-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container uk-background-secondary uk-hidden@m uk-text-center ">
      <br>
      <div class="uk-text-lead" style="color:#FFFFFF;">Baixe nosso app!</div>
      <div style="color:#FFFFFF;">Desenvolvido especialmente para seu dispositivo.</div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1-1">Download <a href="" uk-icon="icon: download"></a></button>
      </div>
      <div class="hr">OU</div>
      <div style="color:#FFFFFF;">Continue através da web (sem baixar o app):</div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1-1" v-on:click="goToLogin">Entrar <i href="" uk-icon="icon: sign-in"></i></button>
      </div>
      <br>
    </div>
    <div class="uk-container" id="home-scroll-end">
      <br>
      <div class="uk-text-center uk-text-lead uk-text-bold">Seus eventos são nossa prioridade!</div>
      <br>
      <div class="uk-child-width-expand@s" uk-grid>
        <div>
          <div>
            <div class="uk-text-center uk-text-lead" id="home-about-title">Por que confiar na <span style="font-family: 'Titillium Web', sans-serif;">Máquina</span>?</div>
            <hr>
            <div class="uk-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum euismod libero, in commodo felis consequat in. Vivamus efficitur scelerisque quam at hendrerit. Duis rutrum ipsum id nunc pretium laoreet. Donec ac rutrum elit, vel aliquet urna. Duis odio lacus, congue nec mi a, pretium lacinia magna. Duis tempus dolor nisi, malesuada ultrices dui blandit sit amet. Donec felis sem, ultricies sed tellus sit amet, tempus facilisis ipsum. Aenean vestibulum auctor orci vel auctor. Aliquam ullamcorper viverra ex vel tincidunt. Nullam auctor eu dui non commodo. Nunc eget dui non nulla mattis ornare.</div>
          </div>
        </div>
        <div>
          <div id="home-about-image">
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <br>
      <div class="uk-text-center uk-text-lead uk-text-bold">Nós mudamos o significado de ERP:</div>
      <br>
      <div class="uk-child-width-expand uk-text-center" uk-grid>
        <div>
          <div class="uk-text-bold"><span class="home-letter">E</span><hr id="home-e-hr" /><div>Event</div></div>
        </div>
        <div>
          <div class="uk-text-bold"><span class="home-letter">R</span><hr /><div>Resource</div></div>
        </div>
        <div>
          <div class="uk-text-bold"><span class="home-letter">P</span><hr /><div>Planning</div></div>
        </div>
      </div>
      <br />
    </div>
    <div class="uk-container">
      <br>
      <div class="uk-text-center uk-text-lead uk-text-bold">Nossa proposta:</div>
      <br>
      <div class=" uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          <div>
            <img src="../../assets/graph.png" class="uk-background-muted home-item-image">
            <div class="uk-text-justify"><br /> ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan, orci nec condimentum faucibus, elit nisi hendrerit urna, sit amet interdum nunc nisi eget ex. Proin placerat id nisi eget sollicitudin. </div>
          </div>
        </div>
        <div>
          <img src="../../assets/lock.png" class="uk-background-muted home-item-image">
          <div class="uk-text-justify"><br /> ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan, orci nec condimentum faucibus, elit nisi hendrerit urna, sit amet interdum nunc nisi eget ex. Proin placerat id nisi eget sollicitudin. </div>
        </div>
        <div>
          <img src="../../assets/note.png" class="uk-background-muted home-item-image">
          <div class="uk-text-justify"><br /> ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan, orci nec condimentum faucibus, elit nisi hendrerit urna, sit amet interdum nunc nisi eget ex. Proin placerat id nisi eget sollicitudin. </div>
        </div>
        <div>
          <img src="../../assets/tag.png" class="uk-background-muted home-item-image">
          <div class="uk-text-justify"><br /> ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan, orci nec condimentum faucibus, elit nisi hendrerit urna, sit amet interdum nunc nisi eget ex. Proin placerat id nisi eget sollicitudin. </div>
        </div>
      </div>
      <br />
    </div>
    <div class="uk-container ">
      <br>
      <div class="uk-text-center uk-text-lead uk-text-bold">Tem alguma dúvida? Converse com a gente!</div>
      <br>
      <form>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Nome">
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="Email">
          </div>

          <div class="uk-margin">
            <textarea class="uk-textarea " rows="5" placeholder="Sua mesangem..." style="resize:none"></textarea>
          </div>
          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <div>Eu sou:</div>
            <label><input class="uk-checkbox" type="checkbox"> Organizador</label>
            <label><input class="uk-checkbox" type="checkbox"> Distribuidor</label>
            <label><input class="uk-checkbox" type="checkbox"> Artista</label>
            <label><input class="uk-checkbox" type="checkbox"> Serviços (barman, segurança e etc.)</label>
            <label><input class="uk-checkbox" type="checkbox"> Outro</label>
          </div>
          <div class="uk-margin uk-hidden@m">
            <button class="uk-button uk-button-primary uk-width-1-1">Enviar <a href="" uk-icon="icon: forward"></a></button>
          </div>
          <div class="uk-margin uk-visible@m">
            <button class="uk-button uk-button-primary">Enviar <a href="" uk-icon="icon: forward"></a></button>
          </div>
        </fieldset>
      </form>
    </div>
    <bottom></bottom>
  </div>
</template>

<script>
  import bottom from './../fragments/Bottom'
  require("../../css/home.css");

  export default {
    name: "Home",
    data() {
      return {
        empty: false,
        email: "",
        user: "",
        msg: ""
      };
    },
    components: {
      bottom
    },
    methods: {
      goToLogin: function (event) {
        this.$router.push({ name: "login" });
      },
      goToCreateUser: function (event) {
        if ((this.email == "") || (this.user == "")) {
          this.empty = true;
          this.msg = "Preencha todos os campos!";
        }
        else {
          this.$router.push({ name: "createUser", params: { email: this.email, user: this.user } });
        }
      }
    }
  };
</script>
