<template>
  <div class="gradient-bg" style="height:100%">
    <div class="uk-container uk-align-center">
      <br />
      <div class="uk-visible@m uk-text-center" style="font-family: 'Titillium Web', sans-serif; font-size:3rem; color:#FFFFFF;">Máquina de Eventos</div>
      <div class="uk-hidden@m uk-text-center" style="font-family: 'Titillium Web', sans-serif; font-size:2rem; color:#FFFFFF;">Máquina de Eventos</div>

      <div class="uk-width-1-3@s uk-align-center">
        <div class="uk-background-muted home-padding">
          <div class="uk-text-center" id="home-right-title">Login</div>
          <br />
          <form>
            <div class="uk-margin">
              <input class="uk-input" type="email" placeholder="Email" v-model="email">
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="password" placeholder="Senha" v-model="password">
            </div>
            <button type="button" class="uk-button uk-button-primary uk-width-1-1" v-on:click="validate">Entrar <i href="" uk-icon="icon: chevron-right"></i></button>
          </form>
        </div>
      </div>
    </div>
    <br />
  </div>
</template>

<script>
  require("../../css/login.css");

  export default {
    name: "Login",
    data() {
      return {
        email: "",
        password: ""
      };
    },

    mounted() {
      if ((this.$cookie.get('token') == null) || (this.$cookie.get('token') == "") || (this.$cookie.get('token') == "null") || (this.$cookie.get('token').length < 5)) {
       
      }
      else {
        this.$router.push({ name: "dashboard" });
      }
    },

    methods: {
      validate: function (event) {
        if (this.email.length < 6) {
          UIkit.modal.alert('Preencha todos os campos!');
        }
        else {
          const crypto = require("crypto");

          var hash1 = crypto.createHash("sha256");
          var build1 = hash1.update(this.password);
          var hpassword = hash1.digest("hex");

          this.$http.post( 
            "/api/token", 
            { Email: this.email, Password: hpassword }, 
            { headers: {"Content-type": "application/json"} } ).then(response => 
            {
              if (response.status === 200) {
                this.$cookie.set('token', response.data.message, { expires: '1M' });
                this.$router.push({ name: "dashboard" });
              } else {
                UIkit.modal.alert('Email ou senha incorretos');
              }
            });
        }
      }
    }
  };
</script>
