<template>
  <div class="uk-container-expand uk-background-secondary uk-text-center" style="color:#FFFFFF;">
    <br>
    <div>Máquina de Eventos&reg;, todos os direitos reservados.</div>
    <br>
  </div>
</template>

<script>
  export default {
    name: 'Footer',
    data() {
      return {

      }
    }
  }
</script>
