<template>
  <div>
    <nav class="uk-navbar-container uk-visible@m">
      <div class="uk-container uk-container-expand">
        <div uk-navbar>
          <div style="cursor: pointer;" class="uk-navbar-item uk-logo" v-on:click="dashboard()">Máquina de Eventos</div>
          <div class="uk-navbar-right"> <button class="uk-button uk-button-default" v-on:click="exit()">Sair <i href="" uk-icon="icon: sign-out"></i></button></div>
        </div>
      </div>
    </nav>
    <nav class="uk-navbar-container uk-hidden@m">
      <div class="uk-container uk-container-expand">
        <div uk-navbar>
          <div style="cursor: pointer;" class="uk-navbar-item uk-logo" v-on:click="dashboard()">Máquina de Eventos</div>
          <div class="uk-navbar-right"> <button class="uk-button uk-button-default" v-on:click="exit()"><i href="" uk-icon="icon: sign-out"></i></button></div>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
  export default {
    name: "Navbar",
    data() {
      return {

      }
    },
    methods: {
      exit: function (event) {
        this.logout()
      },
      dashboard: function (event) {
        this.goToDashboard()
      }
    }
  }
</script>
