.gradient-bg {
  background: rgba(16,120,136,1);
  background: -moz-linear-gradient(left, rgba(16,120,136,1) 0%, rgba(50,13,61,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,120,136,1)), color-stop(100%, rgba(50,13,61,1)));
  background: -webkit-linear-gradient(left, rgba(16,120,136,1) 0%, rgba(50,13,61,1) 100%);
  background: -o-linear-gradient(left, rgba(16,120,136,1) 0%, rgba(50,13,61,1) 100%);
  background: -ms-linear-gradient(left, rgba(16,120,136,1) 0%, rgba(50,13,61,1) 100%);
  background: linear-gradient(to right, rgba(16,120,136,1) 0%, rgba(50,13,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107888', endColorstr='#320d3d', GradientType=1 );
}

body, html, #app {
  height: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .52s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.underline-animation {
  display: inline-block;
  position: relative;
}

  .underline-animation:after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0px;
    height: 2px;
    width: 0%;
    background-color: #FFFFFF;
    animation: underline 1.5s forwards;
  }

@keyframes underline {
  to {
    width: 100%;
  }
}



.fullWidth {
  width: 100%;
}

.hr {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

  .hr::before, .hr::after {
    content: '';
    flex: 1;
    margin: 0 .25em;
    border-bottom: 1px solid #ccc;
  }

.fullHeight {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}
