
.uk-light .uk-logo {
  color: #FFFFFF;
}

#home-error {
  text-align: center;
  color: #FF0000;
  margin: 0 .25em;
  align-items: center;
  margin: 1em 0;
}

.home-item-image {
  padding: 1rem;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 10rem;
}

.home-padding {
  padding: 1.25rem;
}

.home-letter {
  font-weight: bold;
  font-size: 3rem;
}

#home-right-title {
  font-size: 2rem;
  font-weight: bold;
}

#home-sub {
  font-size: 1.45rem;
  margin-bottom: 2.35rem;
}

#home-e-hr {
  animation: e-hr 1.5s forwards;
}

@keyframes e-hr {
  to {
    border-color: #1e87f0;
    color: #1e87f0;
    background-color: #1e87f0;
  }
}

#home-lead {
  margin-bottom: 0.35rem;
  font-weight: lighter;
  font-size: 2rem;
}

#home-about-image {
  min-height: 20rem;
  background: url(http://via.placeholder.com/960x600);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home-left-button {
  background-color: #32D296;
  margin-top: 1.5rem;
}

.home-left-text {
  margin-bottom: 1rem;
}

@media only screen and (max-width : 640px) {
  #home-left {
    padding: 1rem !important;
  }
}

#home-left {
  color: #FFFFFF;
}

.uk-logo {
  font-family: 'Titillium Web', sans-serif;
}
