<template>
  <div>
    <navbar></navbar>
    <div class="uk-container">

      <div v-if="events1NotEmpty">
        <div style="margin-top:1rem; line-height:2rem;" class="uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
          <div class="uk-text-center uk-text-left@m">
            <span style="font-size:2rem" class="uk-visible@m">Meus eventos:</span>
            <span style="font-size:1.5rem" class="uk-hidden@m">Meus eventos:</span>
          </div>
          <div>
            <button class="uk-button uk-button-primary uk-width-1-1" v-on:click="goToCreate()"><i href="" uk-icon="icon:  plus"></i> Criar</button>
          </div>
        </div>
        <br />
        <div class="uk-child-width-1-1 uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid>
          <div v-for="event in events1">
            <div class="uk-card uk-card-default" v-on:click="goToAdmin(event._id)" style="cursor: pointer;">
              <div class="uk-card-media-top" v-bind:style="{ 'background-image': 'url(' + image + ')' }" style="width:100%; height:12rem; background-size: cover; background-position:center;">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{event.title}}</h3>
                <div><i href="" uk-icon="icon:  calendar"></i> {{event.date | moment("DD[/]MM[/]YYYY")}}, faltam {{event.date | moment("from", "now", true)}}.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div style="margin-top:1rem; line-height:2rem;" class="uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
          <div class="uk-text-center uk-text-left@m">
            <span style="font-size:2rem" class="uk-visible@m">Você ainda não tem nenhum evento :(</span>
            <span style="font-size:1.5rem" class="uk-hidden@m">Você ainda não tem nenhum evento :(</span>
          </div>
          <div>
            <button class="uk-button uk-button-primary uk-width-1-1" v-on:click="goToCreate()"><i href="" uk-icon="icon:  plus"></i> Criar</button>
          </div>
        </div>
      </div>

      <br />
      <div v-if="events2NotEmpty">
        <div style="margin-top:1rem; line-height:2rem;" class="uk-child-width-1-1" uk-grid>
          <div class="uk-text-center uk-text-left@m">
            <span style="font-size:2rem" class="uk-visible@m">Eventos que comissiono:</span>
            <span style="font-size:1.5rem" class="uk-hidden@m">Eventos que comissiono:</span>
          </div>
        </div>
        <br />
        <div class="uk-child-width-1-1 uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid>
          <div v-for="event in events2">
            <div class="uk-card uk-card-default" v-on:click="goToView(event._id)" style="cursor: pointer;">
              <div class="uk-card-media-top" v-bind:style="{ 'background-image': 'url(' + image + ')' }" style="width:100%; height:12rem; background-size: cover; background-position:center;">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{event.title}}</h3>
                <div><i href="" uk-icon="icon:  calendar"></i> {{event.date | moment("DD[/]MM[/]YYYY")}}, faltam {{event.date | moment("from", "now", true)}}.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <br />
    <bottom></bottom>
  </div>
</template>

<script>
  import navbar from './../fragments/NavBar'
  import bottom from './../fragments/Bottom'
  export default {
    name: 'Dashboard',
    data() {
      return {
        image: 'http://via.placeholder.com/600x200',
        events1NotEmpty: false,
        events2NotEmpty: false,
        events1: {},
        events2: {},

      }
    },
    components: {
      navbar,
      bottom
    },
    methods: {
      goToView: function (_id) {
        this.$router.push({ name: "viewEvent", params: { id: _id } });
      },
      goToAdmin: function (_id) {
        this.$router.push({ name: "admin", params: { id: _id } });
      },
      goToCreate: function (event) {
        this.$router.push({ name: "createEvent" });
      }
    },
    beforeMount() {
      /*this.$http.get("/api/event/dashboard", { headers: { 'x-access-token': this.$cookie.get('token') } }).then(response => {
        if (response.data.status == "ok") {
          this.events1 = response.data.data[0];
          this.events2 = response.data.data[1];
          if (this.events1.length > 0) {
            this.events1NotEmpty = true;
          }
          if (this.events2.length > 0) {
            this.events2NotEmpty = true;
          }
        }
        if (response.data.status == "error") {
          this.logout();
        }
      });*/
    },
  }
</script>
