<template>
  <div>
    <navbar></navbar>
    <div class=" uk-grid-collapse	" uk-grid>
      <div class="uk-width-1-4">
        <br />
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true" style="padding-left:1rem;padding-right:1rem;">
          <!--FINISH THAT SHEEET, IMPLEMENT THE TOK'N'PAY-->
          <li class="uk-parent">
            <a class=""><span uk-icon="icon: user"></span> Usuários</a>
            <ul class="uk-nav-sub">
              <li><a v-on:click="currentComponent = 'useradmin'">Administradores</a></li>
              <li><a v-on:click="currentComponent = 'userseller'">Comissários</a></li>
            </ul>
          </li>

          <li class="uk-nav-divider"></li>

          <li class="uk-parent">
            <a class=""><span uk-icon="icon: tag"></span> Ingressos</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Lotes</a></li>
              <li><a href="#">Vendidos</a></li>
              <li><a href="#">Estatísticas</a></li>
            </ul>
          </li>

          <li class="uk-nav-divider"></li>

          <li class="uk-parent">
            <a class=""><span uk-icon="icon: credit-card"></span> Caixa</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Custos e investimentos</a></li>
              <li><a href="#">Estatísticas</a></li>
            </ul>
          </li>

          <li class="uk-nav-divider"></li>

          <li class="uk-parent">
            <a class=""><span uk-icon="icon: calendar"></span> Evento</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Editar dados</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="uk-width-3-4">
        <component v-bind:is="currentComponent"></component>
      </div>
    </div>
  </div>
</template>
<script>

  import initial from './../../fragments/admin/Initial';
  import useradmin from './../../fragments/admin/UserAdmin';
  import userseller from './../../fragments/admin/UserSeller';

  import navbar from './../../fragments/NavBar';
  import bottom from './../../fragments/Bottom';
  export default {
    name: 'Admin',
    data() {
      return {
        currentComponent: 'initial',
      }
    },
    components: {
      navbar,
      bottom,

      'initial':initial,
      'useradmin': useradmin,
      'userseller': userseller
    },
    mounted() {
    }
  }
</script>
