<template>
  <div>

    <navbar></navbar>
    <div class="uk-container">
      <div style="margin-top:1rem; line-height:2rem;">
        <div class="uk-text-center uk-text-left@m">
          <span style="font-size:2rem" class="uk-visible@m">Criar evento:</span>
          <span style="font-size:1.5rem" class="uk-hidden@m">Criar evento:</span>
        </div>
      </div>
      <br />
      
    </div>
    <bottom></bottom>
  </div>
</template>
<script>
  import navbar from './../../fragments/NavBar';
  import bottom from './../../fragments/Bottom';
  export default {
    //CHANGE THAT SHIIIT
    name: 'BLANK',
    data() {
      return {

      }
    },
    components: {
      navbar,
      bottom
    },
  }
</script>
