<template>
  <div>

    <navbar></navbar>
    <div class="uk-container">
      <div style="margin-top:1rem; line-height:2rem;">
        <div class="uk-text-center uk-text-left@m">
          <span style="font-size:2rem" class="uk-visible@m">Criar evento:</span>
          <span style="font-size:1.5rem" class="uk-hidden@m">Criar evento:</span>
        </div>
      </div>
      <br />

      <form>
        <fieldset class="uk-fieldset" v-bind:disabled="formStatus">
          <div class="uk-margin">
            <label class="uk-form-label">Nome do evento:</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" placeholder="" v-model="title">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label">Data do evento:</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="date" :min="today | moment('YYYY[-]MM[-]DD')" v-model="date" />
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label">Descreva seu evento! (opcional)</label>
            <textarea class="uk-textarea " rows="5" placeholder="" style="resize:none" v-model="desc"></textarea>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label">Local do evento:</label>
            <gmap-autocomplete :value="description" @place_changed="setPlace($event)" class="uk-input"></gmap-autocomplete>
            <gmap-map id="map" :center="center" :zoom="18" style="width: 100%; height: 25rem">
              <gmap-marker :key="index" v-for="(m, index) in markers" :position="center = m.position" :clickable="true" :draggable="true" @click="center=m.position"></gmap-marker>
            </gmap-map>
            <label class="uk-form-label">Nome do local:</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" v-model="name" placeholder="">
            </div>
            <div class="create-user-info">Caso o Google Maps não tenha encontrado o nome do local, corrija-o para evitar confusões!</div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label">Lotes de ingressos:</label>
            <table class="uk-table uk-table-small uk-table-striped uk-table-responsive">
              <thead>
                <tr>
                  <th class="uk-table-shrink">Nome</th>
                  <th class="uk-table-shrink">Total</th>
                  <th class="uk-table-shrink">Disponível</th>
                  <th class="uk-table-shrink">Preço</th>
                  <th class="uk-table-shrink"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(batch, index) in batches">
                  <td><span class="uk-text-bold uk-hidden@s">Nome: </span>{{batch.name}}</td>
                  <td><span class="uk-text-bold uk-hidden@s">Total: </span>{{batch.total}}</td>
                  <td><span class="uk-text-bold uk-hidden@s">Disponível: </span>{{batch.avaible}}</td>
                  <td><span class="uk-text-bold uk-hidden@s">Preço: </span>{{batch.price}}</td>
                  <td><button type="button" class="uk-button uk-button-danger uk-width-1-1@s" v-on:click="removeBatch(index)">Exluir <i href="" uk-icon="icon: close"></i></button></td>
                </tr>
              </tbody>
            </table>
            <div>
              <div class="uk-grid-collapse uk-child-width-1-1 uk-child-width-1-2@m uk-child-width-1-4@l " uk-grid>
                <div><input class="uk-input" type="text" placeholder="Nome do lote" v-model="bname"></div>
                <div><input class="uk-input" type="number" placeholder="Ingressos totais" v-model="btotal"></div>
                <div><input class="uk-input" type="number" placeholder="Ingressos disponíveis" v-model="bavaible"></div>
                <div><input class="uk-input" type="number" placeholder="Preço" v-model="bprice"></div>
              </div>
            </div>
            <button type="button" class="uk-button uk-button-primary uk-width-1-1" v-on:click="addBatch()">Adcionar lote <i href="" uk-icon="icon: plus"></i></button>
            <div class="create-user-info">Atenção ao adicionar os lotes! Editá-los após o inicío das vendas pode ser complicado! Você também poderá adicionar lotes posteriormente.</div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label">Estado do evento:</label>
            <div>
              <button type="button" class="uk-button uk-button-default" uk-toggle="target: .toggle; animation: uk-animation-fade" v-on:click="toggleStatus()">Trocar</button>
              <span class="toggle uk-text-bold" style="color:#4CAF50"> Ativo</span>
              <span class="toggle uk-text-bold" style="color:#FF0000" hidden> Inativo</span>
            </div>
            <div class="create-user-info">
              Você pode criar um evento inativo, impedindo assim que hajam vendas antes de você estar preparado. E você pode ativá-lo quando quiser!
            </div>
          </div>
          <div class="uk-margin">
            <button type="button" class="uk-button uk-button-primary uk-width-1-1" v-on:click="createEvent()">Criar evento <i href="" uk-icon="icon: chevron-right"></i></button>
          </div>
        </fieldset>
      </form>

    </div>
    <bottom></bottom>
  </div>
</template>
<script>
  import navbar from './../../fragments/NavBar';
  import bottom from './../../fragments/Bottom';
  export default {
    name: 'CreateEvent',
    data() {
      return {
        cond1: true,
        cond2: true,
        cond3: true,

        center: { lat: 0.0, lng: 0.0 },
        markers: [],
        getMap: this.$root.mapping,
        description: '',
        latLng: {},
        place: null,
        today: null,

        formStatus:false,

        bname: "",
        bprice: "",
        btotal: "",
        bavaible: "",

        active: true,
        title: "",
        date: "",
        desc: "",
        name: "",
        batches: [],
      }
    },

    mounted() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          let pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          this.center.lat = pos.lat;
          this.center.lng = pos.lng;

          this.geocodeLatLng(new google.maps.Geocoder, pos, google.maps.InfoWindow);

        }.bind(this));
      }
    },
    components: {
      navbar,
      bottom
    },
    beforeMount() {
      this.today = new Date();
    },
    methods: {
      setDescription(description) {
        this.description = description
      },
      setPlace(place) {
        try {
          this.center.lat = place.geometry.location.lat();
          this.center.lng = place.geometry.location.lng();
          this.name = place.name;
          this.markers = [];
          this.markers.push({ "position": { "lat": place.geometry.location.lat(), "lng": place.geometry.location.lng() } })
        }
        catch (e) {
          //console.log(e);
        }
      },
      geocodeLatLng(geocoder, map, infowindow) {
        geocoder.geocode({ 'location': this.center }, function (results, status) { });
      },

      toggleStatus() {
        if (this.active == true) {
          this.active = false;
        }
        else {
          this.active = true;
        }
      },
      addBatch() {
        if (!(/^\d+$/.test(this.bname)) && (this.bname != "") && (this.bname != null)) {
          this.cond1 = true;
        }
        else {
          UIkit.modal.alert('O nome do lote deve conter pelo menos 1 letra!');
          this.cond1 = false;
        }

        if ((/^\d+$/.test(this.btotal)) && (/^\d+$/.test(this.bprice)) && (/^\d+$/.test(this.bavaible))) {
          this.cond2 = true;
        }
        else {
          UIkit.modal.alert('As quantidades e valores de ingressos devem ser valores numéricos!');
          this.cond2 = false;
        }

        if ((this.btotal >= this.bavaible)) {
          this.cond3 = true;
        }
        else {
          UIkit.modal.alert('O número de ingressos totais deve ser maior ou igual o número de disponíveis!');
          this.cond3 = false;
        }

        if ((this.cond1 == true) && (this.cond2 == true) && (this.cond3 == true)) {
          this.batches.push({ "price": this.bprice, "total": this.btotal, "name": this.bname, "avaible": this.bavaible });
          this.bprice = "";
          this.btotal = "";
          this.bname = "";
          this.bavaible = "";
        }
      },
      removeBatch(index) {
        this.batches.splice(index, 1);
      },
      validateForm() {
        if (this.title.length < 4) {
          UIkit.modal.alert("Nome de evento muito curto!");
          return false;
        }
        if ((this.name == "") || (this.name == null)) {
          UIkit.modal.alert("Nome de local muito curto!");
          return false;
        }
        if ((this.markers != null) && (this.markers != "")) {
          if (((this.markers[0].position.lat == "") || (this.markers[0].position.lng == "")) || ((this.markers[0].position.lat == null) || (this.markers[0].position.lng == null))) {
            UIkit.modal.alert("Localização não definida!");
            return false;
          }
        }
        else {
          UIkit.modal.alert("Localização não definida!");
          return false
        }
        if ((this.date == "") || (this.date == null)) {
          UIkit.modal.alert("Data do evento não definida!");
          return false;
        }
        var now = new Date();
        now = now.toISOString();
        if (this.date < now) {
          UIkit.modal.alert("A viagem no tempo ainda não foi inventada :( !");
          return false;
        }
        return true;
      },
      createEvent() {
        this.formStatus = true;
        if (this.validateForm()) {
          this.$http.post("/api/event",
            {
              "title": this.title,
              "active": this.active,
              "date": this.date,
              "batches": this.batches,
              "loc": {
                "coord": [this.markers[0].position.lat, this.markers[0].position.lng],
                "name": this.name
              },
              "description": this.desc
            },
            {
              headers: {
                'x-access-token': this.$cookie.get('token'),
                "Content-type": "application/json"
              }
            }).then(response => {
              if (response.data.status == "ok") {
                UIkit.modal.alert("Evento criado com sucesso!");
                this.$router.push({ name: "dashboard" });
              }
              else {
                UIkit.modal.alert("Erro no processo de criação de evento!");
                this.formStatus = false;
                this.logout();
              }
            });
        }
      }
    }
  }
</script>
