<template>
  <div>
    <navbar></navbar>
    <div v-bind:style="{ 'background-image': 'url(' + image + ')' }" style="height:33vw; width:100%; background-size: cover; background-position:center;">
    </div>
    <button class="uk-button uk-button-primary uk-width-1-1"><i href="" uk-icon="icon:  cart"></i> Vender ingressos!</button>
    <div class="uk-container" style="background-color:#FFFFFF">
      <div class="home-padding uk-visible@m" style="font-size:3rem;">{{event[0].title}}</div>
      <div class="home-padding uk-text-center uk-hidden@m" style="font-size:3rem;">{{event[0].title}}</div>
      <ul class="uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s" uk-tab>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Proprietários</a></li>
        <li><a href="#">Comissários</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          <div class="uk-text-center" style="font-size:1.5rem;">
            <div v-if="event[0].active"><span style="color:#4CAF50"><i href="" uk-icon="icon:  check; ratio: 1.5"></i></span> O evento está ativo.</div>
            <div v-else><span style="color:#FF0000"><i href="" uk-icon="icon:  close; ratio: 1.5"></i></span> O evento está inativo.</div>
          </div>
          <br />
          <div uk-grid class="uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s uk-text-center">
            <div><i href="" uk-icon="icon:  calendar"></i> {{event[0].date | moment("DD [de] MMMM [de] YYYY")}}</div>
            <div><i href="" uk-icon="icon:  users"></i> {{total}} ingressos totais</div>
            <div><i href="" uk-icon="icon:  tag"></i> {{sold}} ingressos vendidos.</div>
          </div>
          <br />
          <div class="uk-text-center" style="font-size:1.5rem;">Local: {{event[0].loc.name}}</div>
          <br />
          <gmap-map :center="center" :zoom="15" style="width: 100%; height: 20rem;">
            <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="false" @click="center=m.position"></gmap-marker>
          </gmap-map>
          <br />
          <div class="uk-text-center" style="font-size:1.5rem;">Descrição</div>
          <div style="font-size:1rem;">
            {{event[0].description}}
            <br />
          </div>
          <br />
        </li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
      </ul>
    </div>
    <bottom></bottom>
  </div>
</template>
<script>
  import navbar from './../../fragments/NavBar';
  import bottom from './../../fragments/Bottom';
  export default {
    name: 'CreateEvent',
    data() {
      return {
        id: this.$route.params.id,
        image: 'http://via.placeholder.com/600x200',
        event: null,
        total: 0,
        avaible: 0,
        sold: 0,
        center: { lat: 0, lng: 0 },
        markers: [{ position: { lat: 0, lng: 0 } }]
      }
    },
    components: {
      navbar,
      bottom
    },
    beforeMount() {
      this.$http.get("/api/event/" + this.id, { headers: { 'x-access-token': this.$cookie.get('token') } }).then(response => {
        if (response.data.status == "ok") {
          this.event = response.data.data;

          this.center.lat = this.event[0].loc.coord[0];
          this.center.lng = this.event[0].loc.coord[1];
          this.markers[0].position.lat = this.event[0].loc.coord[0];
          this.markers[0].position.lng = this.event[0].loc.coord[1];

          for (var i = 0; i < (this.event[0].batches.length); i++){
            this.total = this.total + this.event[0].batches[i].total;
            this.avaible = this.avaible + this.event[0].batches[i].avaible;
          }
          this.sold = this.total - this.avaible;
        }
        if (response.data.status == "error") {
          this.logout();
        }
      });
    }
  }
</script>
